## Домашнее задание №1 (курс "Практикум по программированию на языке Python")

### Выполнил: <font color='red'>Никитина Мария Александровна, МФТИ, ФПМИ</font>

### Тема: Введение в язык Python

**Автор**: Мурат Апишев

**Выдана**:   16 февраля 2023

**Дедлайн**:  21:00 3 марта 2023

**Среда выполнения**: Jupyter Notebook (Python 3.7+)

#### Правила:

Результат выполнения задания - Jupyter Notebook с кодом. __Максимальное число баллов за задание - 20__.

Все ячейки должны быть "выполненными", при этом результат должен воспроизводиться при проверке (на Python 3.7). Если какой-то код не был запущен или отрабатывает с ошибками, то пункт не засчитывается. Задание, сданное после дедлайна, _не принимается_. Можно отправить недоделанное задание, выполненные пункты будут оценены.

Готовое задание отправляется на почту mel-lain@yandex.ru.

Задание выполняется самостоятельно. Если какие-то студенты будут уличены в списывании, все они автоматически получат за эту работу 0 баллов. Если вы нашли в Интернете какой-то специфичный код, который собираетесь заимствовать, обязательно укажите это в задании - наверняка вы не единственный, кто найдёт и использует эту информацию.

__Удалять фрагменты формулировок заданий запрещается.__

#### Постановка задачи:

- В данной работе нужно решить набор задач, проверяющих владение базовыми инструментами языка.
- Каждая задача представляет собой написание одной или более функций, а также набора тестов, проверяющих работу этой функции в общих и крайних случаях.
- Отсутствие тестов автоматически уменьшает количество баллов за задание как минимум в два раза, некачественные тесты также будут штрафоваться.
- Если в задании указано использовать несколько разных вариантов решения, подразумевается использование различных инструментов (циклы, списковые включения, генераторы, встроенные функции, функции модулей стандартной библотеки и т.п.), замена, например, цикла for на цикл while не является иным способом решения.
- Даже если это не указано явно в требованиях, код должен быть по возможности неизбыточным, работать с разумной сложностью и объёмом потребялемой памяти, проверяющие могут снизить балл за задание, выполненное без учёта этого требования.
- Результирующий код должен быть читаемым, с единой системой отступов и адеквантными названиями переменных, проверяющие могут снизить балл за задание, выполненное без учёта этого требования.

__Задание 1 (0.5 балла):__ Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [ ]:
def task_01_func(year):
    if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
        print('YES')
    else:
        print('NO')

In [ ]:
task_01_func(2023)
task_01_func(2000)
task_01_func(1900)
task_01_func(2020)
task_01_func(1968)

NO
YES
NO
YES
YES

__Задание 2 (0.5 балла):__ Дано натуральное число. Найдите число знаков в его десятичной записи. Предложите как минимум два различных решения.

In [ ]:
def task_02_func(number):
    count = 0
    while number > 0:
        number //= 10
        count += 1
    return count

def task_02_func_2(number):
    # int is needed in order to correctly calculate the length of numbers 
    # in exponential form like 5e+20
    num = str(int(number))
    return (len(num))

In [ ]:
print(task_02_func(1), ' ', task_02_func_2(1))
print(task_02_func(100000), ' ', task_02_func_2(100000))
print(task_02_func(74850894357), ' ', task_02_func_2(74850894357))
print(task_02_func(5e+20), ' ', task_02_func_2(5e+20))

1   1
6   6
11   11
21   21

__Задание 3 (0.5 балла):__ По данному натуральном n вычислите сумму 1!+2!+3!+...+n!. В решении этой задачи с помощью циклов можно использовать только один цикл. Предложите как минимум два различных решения.

In [ ]:
from math import factorial

def task_03_func(n):
    sum = 0
    add = 1
    for i in range(n):
        add *= i + 1
        sum += add
    return sum

def task_03_func_2(n):
    lst = [factorial(x + 1) for x in range(n)]
    return sum(lst)

In [ ]:
print(task_03_func(1), ' ', task_03_func_2(1))
print(task_03_func(5), ' ', task_03_func_2(5))
print(task_03_func(10), ' ', task_03_func_2(10))

1   1
153   153
4037913   4037913

__Задание 4 (0.5 балла):__ Определить, является ли введённая строка палиндромом (то есть одинаково читается с обеих сторон). Предложите как минимум три различных решения.

In [ ]:
def task_04_func(s):
    for i in range(len(s) // 2):
        if s[i] != s[len(s) - 1 - i]:
            print(s, ' isn\'t a palindrome')
            break
    else:
        print(s, ' is a palindrome')

def task_04_func_2(s):
    if s == s[::-1]:
        print(s, ' is a palindrome')
    else:
        print(s, ' isn\'t a palindrome')

# from https://pythobyte.com/python-palindrome-59613/
def task_04_func_3(s):
    reversed_s = ''.join(reversed(s))
    if reversed_s == s:
        print(s,' is a palindrome')
    else:
        print(s, ' isn\'t a palindrome')

In [ ]:
print('Tests of the first function:')
task_04_func('Taco cat')
task_04_func('Tac o cat')
task_04_func('tac o cat')
task_04_func('tac_o_cat')
task_04_func('level')
task_04_func('level_')
task_04_func('Some_words')
print()

print('Tests of the second function:')
task_04_func_2('Taco cat')
task_04_func_2('Tac o cat')
task_04_func_2('tac o cat')
task_04_func_2('tac_o_cat')
task_04_func_2('level')
task_04_func_2('level_')
task_04_func_2('Some_words')
print()

print('Tests of the third function:')
task_04_func_3('Taco cat')
task_04_func_3('Tac o cat')
task_04_func_3('tac o cat')
task_04_func_3('tac_o_cat')
task_04_func_3('level')
task_04_func_3('level_')
task_04_func_3('Some_words')

Tests of the first function:
Taco cat  isn't a palindrome
Tac o cat  isn't a palindrome
tac o cat  is a palindrome
tac_o_cat  is a palindrome
level  is a palindrome
level_  isn't a palindrome
Some_words  isn't a palindrome

Tests of the second function:
Taco cat  isn't a palindrome
Tac o cat  isn't a palindrome
tac o cat  is a palindrome
tac_o_cat  is a palindrome
level  is a palindrome
level_  isn't a palindrome
Some_words  isn't a palindrome

Tests of the third function:
Taco cat  isn't a palindrome
Tac o cat  isn't a palindrome
tac o cat  is a palindrome
tac_o_cat  is a palindrome
level  is a palindrome
level_  isn't a palindrome
Some_words  isn't a palindrome

__Задание 5 (1 балл):__ Дан текст в виде строки. Напишите функцию, которая возвращает словарь, где ключами являются уникальные слова из этого текста, а значениями - число раз, которое данное слово встретилось в тексте. Считать, что слова разделяются пробелами. Предложите как минимум два различных решения.

In [ ]:
from collections import Counter

def task_05_func(text):
    return dict(Counter(text.split()))

def task_05_func_2(text):
    words = text.split()
    d = dict.fromkeys(words)
    for word in words:
        if d[word] == None:
            d[word] = 1
        else:
            d[word] += 1
    return d

In [ ]:
print('Tests of the first function:')
print(task_05_func('Taco cat'))
# commas for beauty
print(task_05_func('to be, or not to be, that is the question'))
print(task_05_func(' '))
print(task_05_func('cat cat cat cat cat cats'))
print(task_05_func('cat and 5 cats'))
print()

print('Tests of the second function:')
print(task_05_func_2('Taco cat'))
print(task_05_func_2('to be, or not to be, that is the question'))
print(task_05_func_2(' '))
print(task_05_func_2('cat cat cat cat cat cats'))
print(task_05_func_2('cat and 5 cats'))

Tests of the first function:
{'Taco': 1, 'cat': 1}
{'to': 2, 'be,': 2, 'or': 1, 'not': 1, 'that': 1, 'is': 1, 'the': 1, 'question': 1}
{}
{'cat': 5, 'cats': 1}
{'cat': 1, 'and': 1, '5': 1, 'cats': 1}

Tests of the second function:
{'Taco': 1, 'cat': 1}
{'to': 2, 'be,': 2, 'or': 1, 'not': 1, 'that': 1, 'is': 1, 'the': 1, 'question': 1}
{}
{'cat': 5, 'cats': 1}
{'cat': 1, 'and': 1, '5': 1, 'cats': 1}

__Задание 6 (1 балл):__ Напишите функцию, которая принимает на вход строку и символ и возвращает:

- если символ встретился в строке один раз - кортеж (индекс вхождения, None);
- если два и более раз - кортеж (индекс первого вхождения, индекс последнего вхождения);
- если ни разу - кортеж (None, None).

Запрещается делать более одного прохода по каждому элементу строки.

In [ ]:
def task_06_func(input_str, input_char):
    start = input_str.find(input_char)
    if start == -1:
        return (None, None)
    finish = input_str.rfind(input_char, start + 1)
    if finish == -1:
        return (start, None)
    return (start, finish)

In [ ]:
print(task_06_func('Taco cat', 'c'))
print(task_06_func('Taco cat', '1'))
print(task_06_func('Taco cat', 'T'))
print(task_06_func('Lalalalala', 'l'))
print(task_06_func(' ', ' '))

(2, 5)
(None, None)
(0, None)
(2, 8)
(0, None)

__Задание 7 (1 балл):__ Дан список целых чисел. Напишите функцию, которая возвращает копию этого списка, из которой удалены отрицательные числа, а все прочие числа возведены в квадрат. Также возвращаемая последовательность должна быть отсортирована по убыванию. Предложите как минимум три различных решения.

In [ ]:
def task_07_func(lst):
    lst = [x ** 2 for x in lst if x >=0]
    return sorted(lst, reverse=True)

def task_07_func_2(lst):
    f = filter(lambda x: x >= 0, lst)
    lst = list(f)
    for i in range(len(lst)):
        lst[i] = lst[i] ** 2
    lst.sort(reverse=True)
    return lst

# Taken from the website
# https://tproger.ru/translations/sorting-algorithms-in-python/
def selection_sort(nums):
    for i in range(len(nums)):
        max_value_index = i
        for j in range(i + 1, len(nums)):
            if nums[j] > nums[max_value_index]:
                max_value_index = j
        nums[i], nums[max_value_index] = nums[max_value_index], nums[i]

def task_07_func_3(lst):
    i = len(lst) - 1
    while i >= 0:
        if lst[i] < 0:
            lst.pop(i)
        else:
            lst[i] = lst[i] ** 2
        i -= 1
    selection_sort(lst)
    return lst

In [ ]:
print('Tests of the first function:')
print(task_07_func([5, 2, 7, -9, -1]))
print(task_07_func([-1, -5, -2, -4, -3]))
print(task_07_func([1, 2, 3, 4, 5, 6, 7]))
print(task_07_func([-10, 10, -5, 7, 5, -7]), '\n')

print('Tests of the second function:')
print(task_07_func_2([5, 2, 7, -9, -1]))
print(task_07_func_2([-1, -5, -2, -4, -3]))
print(task_07_func_2([1, 2, 3, 4, 5, 6, 7]))
print(task_07_func_2([-10, 10, -5, 7, 5, -7]), '\n')

print('Tests of the third function:')
print(task_07_func_3([5, 2, 7, -9, -1]))
print(task_07_func_3([-1, -5, -2, -4, -3]))
print(task_07_func_3([1, 2, 3, 4, 5, 6, 7]))
print(task_07_func_3([-10, 10, -5, 7, 5, -7]), '\n')

Tests of the first function:
[49, 25, 4]
[]
[49, 36, 25, 16, 9, 4, 1]
[100, 49, 25]

Tests of the second function:
[49, 25, 4]
[]
[49, 36, 25, 16, 9, 4, 1]
[100, 49, 25]

Tests of the third function:
[49, 25, 4]
[]
[49, 36, 25, 16, 9, 4, 1]
[100, 49, 25]

__Задание 8 (1 балл):__ Напишите функцию, которая принимает на вход список кортежей одинаковой длины и индекс `index` элемента в кортеже и возвращает генератор, итерирование по которому позволит получит все кортежи входного списка, отсортированные по убыванию элементов этих кортежей с индексом `index`.

In [ ]:
def task_08_func(lst, index):
    lst.sort(key=lambda x: x[index], reverse=True)
    for i in range(len(lst)):
        yield lst[i]

In [ ]:
for e in task_08_func([(1, 2, 3), (5, 7, 1), (7, 1, 7), (0, 1, 0), (5, -5, 5)], 1):
    print(e, end='   ')
print()

for e in task_08_func([(1, 2, 3), (5, 7, 1), (7, 1, 7), (0, 1, 0), (5, -5, 5)], 0):
    print(e, end='   ')
print()

for e in task_08_func([], 1):
    print(e, end='   ')
print(None)

for e in task_08_func([(1, 2, 3, 4, 5)], 1):
    print(e, end='   ')
print()

for e in task_08_func([('Cat', 'Murka', 5), ('Dog', 'Max', 17), 
                       ('Cat', 'Barsik', 7), ('Horse', 'Star', 450), 
                       ('Dog', 'Laika', 15)], 1):
    print(e, end='   ')

(5, 7, 1)   (1, 2, 3)   (7, 1, 7)   (0, 1, 0)   (5, -5, 5)
(7, 1, 7)   (5, 7, 1)   (5, -5, 5)   (1, 2, 3)   (0, 1, 0)
None
(1, 2, 3, 4, 5)
('Horse', 'Star', 450)   ('Cat', 'Murka', 5)   ('Dog', 'Max', 17)   ('Dog', 'Laika', 15)   ('Cat', 'Barsik', 7)

__Задание 9 (1 балл):__ Напишите функцию, которая получает на вход натуральное число `n` и выводит первые `n` строк треугольника Паскаля.

In [ ]:
def task_09_func(n):
    #String containing 1 is considered zero
    arr = [1]
    print('1'.center(53))
    for _ in range(n):
        arr = [sum(x) for x in zip([0] + arr, arr + [0])]
        str1 = ''
        for item in arr:
            str1 += '%4d' % item
        print(str1.center(50))

In [ ]:
print('n = 0:')
task_09_func(0)

print('n = 5:')
task_09_func(5)

print('n = 10:')
task_09_func(10)

n = 0:
                          1
n = 5:
                          1
                        1   1
                      1   2   1
                    1   3   3   1
                  1   4   6   4   1
                1   5  10  10   5   1
n = 10:
                          1
                        1   1
                      1   2   1
                    1   3   3   1
                  1   4   6   4   1
                1   5  10  10   5   1
              1   6  15  20  15   6   1
            1   7  21  35  35  21   7   1
          1   8  28  56  70  56  28   8   1
        1   9  36  84 126 126  84  36   9   1
      1  10  45 120 210 252 210 120  45  10   1

__Задание 10 (1 балл):__ Напишите функцию, которая принимает на вход абсолютный путь к директории и две строки с расширениями файлов. В результате её выполнения у всех файлов в указанной директории, имеющих первое расширение, расширение должно измениться на второе. В конце работы функция должна возвращать кортеж из двух элементов:

1. сколько всего в директории файлов (именно файлов, не директорий);
2. у скольки из них расширение было изменено.

Допускается только один проход по каждому файлу из указанной директории.

In [13]:
from pathlib import *

def task_10_func(dir_path, prev_extension, next_extension):
    files = 0
    changes = 0
    for item in Path(dir_path).iterdir():
        if item.is_file():
            files += 1
            if Path(item).suffix == prev_extension:
                changes += 1
                Path(item).rename(Path(item).with_suffix(next_extension))
    return (files, changes)

In [22]:
Path('Task_10').mkdir()
Path('Task_10/Some_dir').mkdir()
Path('Task_10/Some_dir/Text.ipynb').touch()
Path('Task_10/Text.txt').touch()
Path('Task_10/Movies.ipynb').touch()
Path('Task_10/Films.rtf').touch()
Path('Task_10/Songs.ipynb').touch()
Path('Task_10/Music.xls').touch()
Path('Task_10/Content.txt').touch()

In [23]:
print(task_10_func('/content/Task_10', '.ipynb', '.txt'))
print(task_10_func('/content', '.txt', '.rtf'))

(6, 2)
(0, 0)

__Задание 11 (1 балл):__ Описать функцию, которая принимает на вход два списка и возвращает список уникальных элементов, которые есть в первом входном списке и отсутствуют во втором. Запрещается использовать циклы и списковые включения/генераторы списков.

In [ ]:
def task_11_func(first_list, second_list):
    return list(set(first_list) - set(second_list))

In [ ]:
print('Lists:', [1, 2, 3, 4, 5], [1, 3, 5], 
      'Answer:', task_11_func([1, 2, 3, 4, 5], [1, 3, 5]))
print('Lists:', [1, 1, 1, 1, 1], [1], 
      'Answer:', task_11_func([1, 1, 1, 1, 1], [1]))
print('Lists:', [1, 1, 1, 1, 1], [], 
      'Answer:', task_11_func([1, 1, 1, 1, 1], []))
print('Lists:', [], [1, 2, 3, 4, 5], 
      'Answer:', task_11_func([], [1, 2, 3, 4, 5]))
print('Lists:', ['Cat', 5, 'Dog', 7, 'Horse'], [1, 'Bear', 4, 5], 
      'Answer:', task_11_func(['Cat', 5, 'Dog', 7, 'Horse'], [1, 'Bear', 4, 5]))
print('Lists:', [1, 2, 3, 4, 5], [7, 8], 
      'Answer:', task_11_func([1, 2, 3, 4, 5], [7, 8]))

Lists: [1, 2, 3, 4, 5] [1, 3, 5] Answer: [2, 4]
Lists: [1, 1, 1, 1, 1] [1] Answer: []
Lists: [1, 1, 1, 1, 1] [] Answer: [1]
Lists: [] [1, 2, 3, 4, 5] Answer: []
Lists: ['Cat', 5, 'Dog', 7, 'Horse'] [1, 'Bear', 4, 5] Answer: ['Dog', 'Horse', 'Cat', 7]
Lists: [1, 2, 3, 4, 5] [7, 8] Answer: [1, 2, 3, 4, 5]

__Задание 12 (1 балл):__ Напишите функцию, которая получает на вход путь к файлу, в котором в каждой строке записано одно вещественное число, а также путь к выходному файлу. Функция должна прочитать содержимое файла, игнорировать строки с нечётными индексами, а строки с чётными индексами должна увеличить на минимальное из чисел, содержащихся в этом файле. Полученные числа нужно записать в выходной файл с точностью 5 знаков после запятой.

Требуется сделать не более двух проходов по входному файлу, расход памяти на протяжении работы должен быть O(1) (то есть никак не зависеть от числа строк во входном файле).

In [29]:
# Nothing changes in the source file, 
# and only the changed even lines will be written to the second file

def task_12_func(input_path, output_path):
    fout = open(output_path, 'w')
    min = None
    with open(input_path, 'r') as fin:
        for line in fin.readlines():
            if (min is None) or (min > float(line)):
                min = float(line)
    # The numbering of lines in the file starts with 1
    i = 1
    with open(input_path, 'r') as fin:
        for line in fin.readlines():
            if i % 2 == 0:
                fout.write('%.5f' % (float(line) + min) + '\n')
            i += 1;
    fout.close()

In [32]:
Path('input.txt').touch()
with open('input.txt', 'w') as fout:
    fout.write('1\n25\n5.3743\n-1.3746\n-15.3746287\n100\n17.1\n15.3746287')
Path('input1.txt').touch()

In [33]:
task_12_func('input.txt', 'output.txt')
task_12_func('input1.txt', 'output1.txt')

__Задание 13 (1 балл):__ Написать функцию, которая принимает на вход число `n`, которое может быть либо натуральным, либо -1, и возвращает генератор чисел Фиббоначи. Если входной параметр равен натуральному числу, то генератор должен выдавать последовательно числа Фиббоначи до `n`-го. Если `n` равно -1, то генератор должен быть бесконечным.

In [ ]:
from itertools import accumulate

def task_13_func(n):
    i, j = 0, 1
    if n == -1:
        while True:
            yield i
            i, j = j, i + j
    else:
        for _ in range(n):
            yield i
            i, j = j, i + j

In [ ]:
print('n = -1 (5):')
gen = task_13_func(-1)
for _ in range(5):
    print(next(gen), end='   ')

print('\n\nn = 5:')
for e in task_13_func(5):
    print(e, end='   ')

print('\n\nn = -1 (1):')
gen = task_13_func(-1)
for _ in range(1):
    print(next(gen), end='   ')

print('\n\nn = 1:')
for e in task_13_func(1):
    print(e, end='   ')

print('\n\nn = -1 (10):')
gen = task_13_func(-1)
for _ in range(10):
    print(next(gen), end='   ')

print('\n\nn = 10:')
for e in task_13_func(10):
    print(e, end='   ')

n = -1 (5):
0   1   1   2   3

n = 5:
0   1   1   2   3

n = -1 (1):
0

n = 1:
0

n = -1 (10):
0   1   1   2   3   5   8   13   21   34

n = 10:
0   1   1   2   3   5   8   13   21   34

__Задание 14 (1 балл):__ Написать функцию, которая принимает на вход произвольный объект, проверяет его тип, и для целого числа возвращает список всех магических методов объекта, начинающихся с `__a`, для строк - с `__s`. Для всех прочих типов должен возвращаться список немагических методов. В задании запрещается использовать циклы и списковые включения/генераторы списков.

In [ ]:
import re

def task_14_func(n):
    if type(n) == int:
        return list(filter(lambda x: re.search("__a", x), dir(n)))
    if type(n) == str:
        return list(filter(lambda x: re.search("__s", x), dir(n)))
    return list(filter(lambda x: not re.search("__$", x), dir(n)))

In [ ]:
print(task_14_func(10))
print(task_14_func('Cat'))
print(task_14_func([10]))
print(task_14_func((10, 'Cat')))
print(task_14_func(None))

['__abs__', '__add__', '__and__']
['__setattr__', '__sizeof__', '__str__', '__subclasshook__']
['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['count', 'index']
[]

__Задание 15 (1.5 балла):__ Написать функцию, которая во входной строке заменяет вхождения всех английских заглавных букв на их номер в таблице ASCII, затем производит сплит по минимальной из цифр строки. Предложите как минимум два различных решения, одно из которых не должно использовать циклы. При использовании циклов допускается не более двух проходов по строке.

In [ ]:
import re

def task_15_func(n):
    matches = set(re.findall('[A-Z]', n))
    for item in n:
        if item in matches:
            n = n.replace(item, str(ord(item)))
    min = 10
    for item in n:
        if item.isdigit() and min > int(item):
            min = int(item)
    if min != 10:
        word_list = re.split(str(min), n)
    else:
        word_list = [n]
    return word_list

In [ ]:
def swap(item):
    return str(ord(item[0]))

def task_15_func_1(n):
    word = re.subn('[A-Z]', swap, n)[0]
    numbers = re.findall('[0-9]', word)
    if numbers:
        minimum = min(numbers)
        word_list = re.split(str(minimum), word)
    else:
        word_list = [word]
    return word_list

In [ ]:
print(task_15_func_1('LaLala'), task_15_func('LaLala'))
print(task_15_func_1('some words'), task_15_func('some words'))
print(task_15_func_1('Taco Cat'), task_15_func('Taco Cat'))

['7', 'a7', 'ala'] ['7', 'a7', 'ala']
['some words'] ['some words']
['8', 'aco 67at'] ['8', 'aco 67at']

__Задание 16 (1.5 балла):__ Написать функцию, которая принимает на вход строку и извлекает из неё мобильные телефонные номера с помощью регулярных выражений. Функция должна поддерживать общепринятые варианты написания номера, как со всевозможными разделителями, так и без них (обеспечьте поддержку не менее 10 различных случаев). Возвращаемым значением функции является список всех найденных в строке номеров, если их не было, нужно вернуть пустой список.

In [ ]:
# I can't find how to write | correctly inside the expression
def task_16_func(n):
    numbers = re.findall(r'\+?[0-9]{1,4} ?\([0-9]{3}\) ?[0-9]{3} ?[0-9]{2} ?[0-9]{2}'
                        r'|'
                        r'\+?[0-9]{1,4} ?[0-9]{3} ?[0-9]{3} ?[0-9]{2} ?[0-9]{2}', n)
    return numbers

In [ ]:
print(task_16_func('Номер Петрова: +77 (916) 875 4789, номер Иванова: 89767895589'))
print(task_16_func('Номер Петрова: +77 916 875 4789, номер Иванова: 8 9767895589'))
print(task_16_func('Номер Петрова: 77 916 875 4789, номер Иванова: 8 976 78955 89'))
print(task_16_func('Номер Петрова: +7978999 916 875 4789, номер Иванова: +8 9767895589'))
print(task_16_func('Номер Петрова: +77 (916 875 4789, номер Иванова: 8 976 789 55 89'))
print(task_16_func('Номер Петрова: +77 916) 875 4789, номер Иванова: 8 976789558 9'))

['+77 (916) 875 4789', '89767895589']
['+77 916 875 4789', '8 9767895589']
['77 916 875 4789', '8 976 78955 89']
['8999 916 875 4789', '+8 9767895589']
['8 976 789 55 89']
[]

__Задание 17 (5 баллов):__ Опишем бинарное дерево, представленное в виде вложенных кортежей, в каждом узле дерева хранится вещественное число и ссылка на левое и правое поддерево.

Пример: для сбалансированного дерева

```
        v_0
       /   \
   v_11     v_12
  /  \       /  \
v_21 v_22  v_23 v_24
```

представление в виде кортежей будет выглядеть так:

```
(v_0,
    (v_11,
        (v_21, None, None),
        (v_22, None, None)
    ),
    (v_12,
        (v_23, None, None),
        (v_24, None, None)
    )
)
```

Необходимо написать функцию, которая принимает на вход бинарное дерево (не обязательно сбалансированное), закодированное описанным способом в виде кортежа, производит его обход в глубину и для каждой листовой вершины вычисляет сумму всех значений от корня до неё включительно. Функция ничего не возвращает, вместо этого она выводит получаемые суммы в порядке следования листовых вершин (слева направо).

Реализуйте два решения: на основе рекурсии и на основе циклов.

In [ ]:
def task_17_func(n, sum):
    now, left, right = n
    new_sum = now + sum
    if left is None and right is None:
        print(new_sum)
    if left:
        task_17_func(left, new_sum)
    if right:
        task_17_func(right, new_sum)

def task_17_func_1(n):
    sum = 0
    nodes = [(n, sum)]
    while nodes:
        now, sum = nodes.pop()
        new_sum = sum + now[0]
        if now[1] is None and now[2] is None:
            print(new_sum)
        if now[2]:
            nodes.append((now[2], new_sum))
        if now[1]:
            nodes.append((now[1], new_sum))

In [ ]:
print('Test_1:')
task_17_func((1, \
              (2, (3, None, None), (4, None, None)), \
              (5, (6, None, None), (7, None, None))), 0)
print('Test_2:')
task_17_func((1, None, None), 0)
print('Test_3:')
task_17_func((1, \
              (2, \
                (3, \
                  (4, None, \
                    (5, None, None)),\
                  None),\
                None), \
              None), 0)

Test_1:
6
7
12
13
Test_2:
1
Test_3:
15

In [ ]:
print('Test_1:')
task_17_func_1((1, \
              (2, (3, None, None), (4, None, None)), \
              (5, (6, None, None), (7, None, None))))
print('Test_2:')
task_17_func_1((1, None, None))
print('Test_3:')
task_17_func_1((1, \
              (2, \
                (3, \
                  (4, None, \
                    (5, None, None)),\
                  None),\
                None), \
              None))

Test_1:
6
7
12
13
Test_2:
1
Test_3:
15